.post--2495 .postprofile {display:none}
.tdbaef {width:200px;height:50px;background:#1d1d1d;margin-left:0px;transition:ease 1s;display:flex;justify-content:center;}
.tdbaef:hover {width:200px;height:50px;margin-left:-100px;background:#FF0000;transition:ease 1s;display:flex;justify-content:center;}
.tdbaefa {width:200px;height:50px;background:#1d1d1d;margin-left:-100px;transition:ease 1s;display:flex;justify-content:center;}
.tdbaefa:hover {width:200px;height:50px;margin-left:0px;background:#FF0000;transition:ease 1s;display:flex;justify-content:center;}
.tdbaex {margin:0 auto;}
.tdbaexa {display:flex;justify-content:center;}
.tdbauco {width:100px;height:400px;}
.tdbauprima {width:100px;height:100px;background:var(--afiliados);text-align:center;}
#tdicon {font-size:50px;margin-top:25px;color:#aaaaaa;}
.tdbaimg {width:100px;height:100px;}
.tdbauprimb {width:100px;height:100px;background:#0A0A0A;text-align:center;}
.tdbauprimc {width:100px;height:100px;background:#44794F;text-align:center;}
.tdbaubimg {width:400px;height:400px;overflow:hidden;position:relative;text-align:center;}
.tdbaunam {font-size:25px;font-family:'Poppins';font-style:italic;text-transform:uppercase;font-weight:900;color:var(--afiliados);width:300px;line-height:25px;margin:0 auto;background:#aaaaaa;position:relative;top:369px;}
