.tdteti {text-align:center;font-size:25px;line-height:25px;font-family:'Poppins';font-weight:900;font-style:italic;text-transform:uppercase;}
.tdteinf {text-align:center;line-height:15px;text-transform:uppercase;}
.tdtesep {font-family:'Poppins';font-style:italic;}
.tdtecue {text-align:justify;}
